@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --Dark-grayish-blue:hsl(236, 13%, 42%); /*nav links nte color */
    --Soft-red:hsl(5, 85%, 63%); /* hover cheyumbo ulla color*/
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img_hero{
    max-width: 100%;
    width: 100%;
}

body{
    font-family: "Inter"
}
.container{
    margin: 0 auto;
    padding: 10px 30px;
    max-width: 1240px;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
}
.logo{
    width: 50px;
    height: 50px;
}
.links ul{
    display: flex;
    gap: 1rem;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    transition: 0.5s color ease ;
}
.links ul li a:hover{
    color: var(--Soft-red);
}
.hero{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    
}
.new_articles{
    background-color: hsl(240,100%,5%);
    font-family: 'inter' sans-serif;
    color: hsl(36,100%,99%);
    padding: 1rem;
}
.heading{
    font-size: 2.5em;
    margin-top: 7px;
    color: orange;
}

.article{
    margin: 25px 5px;
}
.article a{
    color: antiquewhite;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1rem;
    display: inline-block;
    transition: color 0.5 ease;
    text-decoration: none;
}
.hero_text{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}
.hero_text h1{
    font-weight: 800;
    font-size: 2rem;
}
.hero_text a{
    background-color:fuchsia;
    padding: 1em 1.5em;
    display: inline-block;
    margin-top: 1.5em;
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.25em;
    transition:background-color 0.5s ease;
}
.bottom-section{
    display: flex;
    gap: 1rem;
    margin: 4rem 0;
}
.bottomimg{
    max-width: 100%;
    width: 150px;
    height: 150px;
}
.bottomm{
    display: flex;
    gap: 1rem;
}